.modalDiv{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.354);
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.formWindow{
    width:400px;
    padding-left:40px;
    padding-right:40px;
    padding-bottom:40px;
    background-color:white;
    border-radius:5px;
}
.formDiv{
    padding-left:80px;
    padding-right:80px;
    padding-bottom:3%;
}
.dataDiv{
    display:flex;
}
#titles{
    width:24%
}
#titles p{
    text-align:right;
    color:red
}
#studentData p{
    text-align:left;
}
.modalHeader{
    text-align:right;
}
#exitButton{
    background-color:transparent;
    box-shadow:none;
    border:none;
    margin-right:-30px;
}