.locationsDiv{
    width:100vw;
    min-height:80vh;
    display:flex;
    overflow:hidden;
}
#sidebar{
    width:15%;
    border:1px solid rgb(255, 171, 171);
    border-radius:7px;
    padding-top:1.5%;
    animation:slideIn ease 1s;
}
#sidebar button{
    width:80%;
    border:1px solid rgb(255, 171, 171);
    color:black;
    transition: background-color 0.5s;
    font-size:70%;
}
#sidebar button:hover, #sidebar button:focus{
    background-color:rgb(212, 21, 21);
    color:white;
}
@keyframes slideIn {
    0% {
        margin-left:100vw;
    }
    100% {
        margin-left:0%;
     }
}