#lajmetDiv{
    min-height:80vh;
}

#allNews{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-bottom:2%;
    animation:slideIn ease 1s;
}
@keyframes slideIn {
    0% {
        margin-left:100%;
    }
    100% {
        margin-left:0%;
     }
}
#lajmiDiv{
    display:flex;
    align-items: center;
    width:95%;
    min-height:160px;
    height:auto;
    border-radius:2px;
    border: 1px solid rgb(185, 185, 185);
    box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px, rgb(0 0 0 / 6%) 0px 3px 3px -2px, rgb(0 0 0 / 10%) 0px 1px 8px 0px;
    margin-top:2%;
}
#lajmiDiv img{
    height:90%;
    width:10%;
    margin-left:0.5%;
}
#lajmiDiv h2{
    text-align:left;
    margin-bottom:0
}
#lajmiDiv p{
    text-align:left;
}
#textDiv{
    height:90%;
    width:83.5%;
    display:inline;
    vertical-align: top;
    margin-left:2%;
}
#optionDiv{
    text-align:right;
}
#formLajmi{
    text-align: center;
}
#inputLajmi input{
    width:236px;
    height:25px;
    border-radius:5px;
    text-align: left;
    padding-left:5%;
    border: 1px solid rgb(186, 186, 186);
    box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px, rgb(0 0 0 / 6%) 0px 3px 3px -2px, rgb(0 0 0 / 10%) 0px 1px 8px 0px;
    margin-bottom: 5%;
}
input[type=file]::file-selector-button{
    background-color:transparent;
    border:1px solid rgb(188, 188, 188);
    border-radius:3px;
    cursor:pointer;
}
#inputPershkrimi textarea{
    max-width:536px;
    border-radius:5px;
    text-align: left;
    padding-left:5%;
    border: 1px solid rgb(186, 186, 186);
    box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px, rgb(0 0 0 / 6%) 0px 3px 3px -2px, rgb(0 0 0 / 10%) 0px 1px 8px 0px;
    margin-bottom: 5%;
    resize:none
}
#inputPershkrimi textarea{
    width:300px;
    height:150px;
    border-radius:5px;
    text-align: left;
    padding-left:5%;
    border: 1px solid rgb(186, 186, 186);
    box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px, rgb(0 0 0 / 6%) 0px 3px 3px -2px, rgb(0 0 0 / 10%) 0px 1px 8px 0px;
    margin-bottom: 5%;
    margin-top: 20px;
}