*{
    text-align: center;
}
body{
    font-family: 'Playfair Display', serif;
}
table{
    margin-top:1%;
    margin-right: auto;
    margin-left:auto;
    width: 85%;
    font-size: 150%;
    font-family: monospace;
    border: 1px solid #dee2e6;
    color: rgb(86, 0, 14);
}
table th{
    border-top: 1px solid #dee2e6;
    padding-top: 1%;
    padding-bottom: 1%;
}
table td{
    border-top: 1px solid #dee2e6;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align:center;
}
button{
    color:red;
    background-color: white;
    border:1px solid #b6b6b6;
    margin: 5px;
    font-family: 'Playfair Display', serif;
    padding: 8px 10px 8px 10px;
    border-radius:2px;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px, rgb(0 0 0 / 6%) 0px 3px 3px -2px, rgb(0 0 0 / 10%) 0px 1px 8px 0px;
}
.njoftimetDiv{
    min-height:80vh;
}
#titulliInput input{
    width:236px;
    height:25px;
    border-radius:5px;
    text-align: left;
    padding-left:5%;
    border: 1px solid rgb(186, 186, 186);
    box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px, rgb(0 0 0 / 6%) 0px 3px 3px -2px, rgb(0 0 0 / 10%) 0px 1px 8px 0px;
    margin-bottom: 5%;
}
#pershkrimiInput textarea{
    width:300px;
    height:150px;
    border-radius:5px;
    text-align: left;
    padding-left:5%;
    border: 1px solid rgb(186, 186, 186);
    box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px, rgb(0 0 0 / 6%) 0px 3px 3px -2px, rgb(0 0 0 / 10%) 0px 1px 8px 0px;
    margin-bottom: 5%;
    margin-top: 20px;
}
#buttonDiv {
    text-align: right;
    padding-right: 8%;
}
#addButton{
    margin-top:2%;
}



#njoftimetDiv{
    min-height:80vh;
}

#allNjoftimet{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-bottom:2%;
    animation:slideIn ease 1s;
}
@keyframes slideIn {
    0% {
        margin-left:100%;
    }
    100% {
        margin-left:0%;
     }
}
#njoftimiDiv{
    display:flex;
    align-items: center;
    width:95%;
    min-height:160px;
    height:auto;
    border-radius:2px;
    border: 1px solid rgb(185, 185, 185);
    box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px, rgb(0 0 0 / 6%) 0px 3px 3px -2px, rgb(0 0 0 / 10%) 0px 1px 8px 0px;
    margin-top:2%;
}

#njoftimiDiv h2{
    text-align:left;
    margin-bottom:0;
    margin-top: -60px;

}
#njoftimiDiv p{
    text-align:left;
    padding-top:10px;
}
#textDiv{
    height:90%;
    width:83.5%;
    display:inline;
    vertical-align: top;
    margin-left:2%;
    
}
#optionDiv{
    text-align:right;
}
#formNjoftimi{
    text-align: center;
}
#inputNjoftimi input{
    width:236px;
    height:25px;
    border-radius:5px;
    text-align: left;
    padding-left:5%;
    border: 1px solid rgb(186, 186, 186);
    box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px, rgb(0 0 0 / 6%) 0px 3px 3px -2px, rgb(0 0 0 / 10%) 0px 1px 8px 0px;
    margin-bottom: 5%;
}
input[type=file]::file-selector-button{
    background-color:transparent;
    border:1px solid rgb(188, 188, 188);
    border-radius:3px;
    cursor:pointer;
}
#inputPershkrimi textarea{
    max-width:236px;
    min-height:200px;
    border-radius:5px;
    text-align: left;
    padding-left:5%;
    border: 1px solid rgb(186, 186, 186);
    box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px, rgb(0 0 0 / 6%) 0px 3px 3px -2px, rgb(0 0 0 / 10%) 0px 1px 8px 0px;
    margin-bottom: 5%;
    resize:none
}
#inputPershkrimi textarea{
    width:300px;
    height:150px;
    border-radius:5px;
    text-align: left;
    padding-left:5%;
    border: 1px solid rgb(186, 186, 186);
    box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px, rgb(0 0 0 / 6%) 0px 3px 3px -2px, rgb(0 0 0 / 10%) 0px 1px 8px 0px;
    margin-bottom: 5%;
    margin-top: 20px;
}