table{
    margin-top:3%;
    margin-right: auto;
    margin-left:auto;
    width: 85%;
    font-size: 150%;
    font-family: monospace;
    border: 1px solid #dee2e6;
}
table th{
    border-top: 1px solid #dee2e6;
    padding-top: 1%;
    padding-bottom: 1%;
}
table td{
    border-top: 1px solid #dee2e6;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align:center;
}
.njoftimetDiv{
    min-height:80vh;
}
.njoftimetDiv button{
    color:red;
    background-color: white;
    border:1px solid #b6b6b6;
    margin: 5px;
    font-family: 'Playfair Display', serif;
    padding: 8px 10px 8px 10px;
    border-radius:2px;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px, rgb(0 0 0 / 6%) 0px 3px 3px -2px, rgb(0 0 0 / 10%) 0px 1px 8px 0px;
}
.njoftimetDiv #formNjoftimet{
    text-align: center;
}
.njoftimetDiv #insertionDivs{
    display:flex;
    justify-content: center;
}
.njoftimetDiv #insertionDivs div{
    margin-right:1%;
}
.njoftimetDiv #shtoNjoftimin{
    margin-top:2%;
}