.terminiDiv{
    height:80vh;
}
#buttonDiv {
    text-align: right;
    padding-right: 8%;
}
#studentiInputDiv select{
    width:350px;
    height:25px;
    border-radius:5px;
    text-align: left;
    padding-left:5%;
    border: 1px solid rgb(186, 186, 186);
    box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px, rgb(0 0 0 / 6%) 0px 3px 3px -2px, rgb(0 0 0 / 10%) 0px 1px 8px 0px;
    margin-bottom: 5%;
}
#terminiInputDiv select{
    width:350px;
    height:25px;
    border-radius:5px;
    text-align: left;
    padding-left:5%;
    border: 1px solid rgb(186, 186, 186);
    box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px, rgb(0 0 0 / 6%) 0px 3px 3px -2px, rgb(0 0 0 / 10%) 0px 1px 8px 0px;
    margin-bottom: 5%;
}