.provimetDiv{
    min-height:80vh;
    width:100%;
}
.provimetDiv button{
    border-radius:2px;
    background-color:rgb(211, 48, 48);
    color:white;
    margin-top:0;
}   
.provimetDiv button:hover{
    background-color:rgb(212, 21, 21);
    box-shadow: rgb(0 0 0 / 7%) 0px 5px 7px 0px, rgb(0 0 0 / 6%) 0px 5px 5px -0px, rgb(0 0 0 / 10%) 0px 3px 10px 0px;
}