.footerDiv{
    display:flex;
    height:10vh;
    background-color:rgb(164, 6, 34);
    color: rgb(236, 236, 236);
    align-items:center;
    justify-content: space-evenly;
    font-family: 'Playfair Display', serif;
}
#footerList{
    list-style:none;
    margin-left:1%;

}
#footerList li{
    display:inline-block;
    margin-right:20px;
}