.degaDiv{
    min-height: 80vh;
    padding-bottom:3%;
}
.inputDiv{
    display: flex;
    justify-content: center;
}
#qytetiInputDiv{
    margin-right:2%;
}
#qytetiInputDiv select{
    width:250px;
}
#fakultetiInputDiv select{
    width:250px;
    height:19px;
}
#addButton{
    margin-top:2%;
}