.vleresimiDiv{
    min-height:80vh;
    width:100%;
}
#buttonDiv {
    text-align: right;
    padding-right: 8%;
}
#addButton{
    margin-top:2%;
}
#buttonDiv select{
    color:red;
    background-color: white;
    border:1px solid #b6b6b6;
    margin: 5px;
    font-family: 'Playfair Display', serif;
    padding: 8px 10px 8px 10px;
    border-radius:2px;
    cursor: pointer;
    border:none;
    box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px, rgb(0 0 0 / 6%) 0px 3px 3px -2px, rgb(0 0 0 / 10%) 0px 1px 8px 0px;
}
#studentiInputDiv select{
    width:350px;
    height:25px;
    border-radius:5px;
    text-align: left;
    padding-left:5%;
    border: 1px solid rgb(186, 186, 186);
    box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px, rgb(0 0 0 / 6%) 0px 3px 3px -2px, rgb(0 0 0 / 10%) 0px 1px 8px 0px;
    margin-bottom: 5%;
}
#lendaInputDiv select{
    width:350px;
    height:25px;
    border-radius:5px;
    text-align: left;
    padding-left:5%;
    border: 1px solid rgb(186, 186, 186);
    box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px, rgb(0 0 0 / 6%) 0px 3px 3px -2px, rgb(0 0 0 / 10%) 0px 1px 8px 0px;
    margin-bottom: 5%;
}
#notaInputDiv select{
    width:100px;
    height:25px;
    border-radius:5px;
    text-align: left;
    border: 1px solid rgb(186, 186, 186);
    box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px, rgb(0 0 0 / 6%) 0px 3px 3px -2px, rgb(0 0 0 / 10%) 0px 1px 8px 0px;
    margin-bottom: 5%;
}
