#universityLogo{
    height:100%;
    width:5%;
    margin-left:1%;
}
#navBar{
    display: flex;
    height:10vh;
    background-color:rgb(164, 6, 34);
    color: rgb(236, 236, 236);
    align-items:center;
    font-family: 'Playfair Display', serif;
}
#navList{
    list-style:none;
    margin-left:1%;
}
#navList li{
    display:inline-block;
    margin-right:20px;
}
a:-webkit-any-link{
    text-decoration: none;
    color: white;
    font-family: 'Playfair Display',serif;
}