.modalDiv{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.354);
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.formWindow{
    background-color:white;
    border-radius:5px;
}
.formDiv{
    padding-left:80px;
    padding-right:80px;
    padding-bottom:3%;
}
.modalHeader{
    text-align:right;
}
#exitButton{
    background-color:transparent;
    box-shadow:none;
    border:none;
}